<div id="logged-user">
    <div class="dropdown">
        <div class="dropdown-custom" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="dropdown-custom__icon-avatar">
                <img src="../images/avatar/user-avatar.svg" alt="">
            </div>
            <div class="user-name"></div>
            <div class="dropdown-custom__arrow"><img src="../images/avatar/arrow-down.svg"></div>
        </div>
      
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Профиль</a></li>
          <li class="dropdown-item logout">Выход</li>
        </ul>
    </div>
    <!-- <div class="badge bg-primary rounded-pill">Avatar</div>
    <div>Actions arrow</div> -->
</div>
