<div class="container-fluid my-3">
    <div class="row justify-content-evenly align-items-baseline">
        <div class="mb-4 pe-0 task-group fs18">
            <h3 class="m-3 fs18">Backlog</h3>
            <div class="pe-2 task-list" id="backlog"></div>
            <button type="button" class="btn mb-2 fs18">+ Add card</button>
        </div>
        <div class="mb-4 pe-0 task-group fs18">
            <h3 class="m-3 fs18">Ready</h3>
            <div class="pe-2 task-list" id="ready"></div>
            <button type="button" class="btn mb-2 fs18">+ Add card</button>
        </div>
        <div class="mb-4 pe-0 task-group fs18">
            <h3 class="m-3 fs18">In Progress</h3>
            <div class="pe-2 task-list" id="inProgress"></div>
            <button type="button" class="btn mb-2 fs18">+ Add card</button>
        </div>
        <div class="mb-4 pe-0 task-group fs18">
            <h3 class="m-3 fs18">Finished</h3>
            <div class="pe-2 task-list" id="finished"></div>
            
            <button type="button" class="btn mb-2 fs18">+ Add card</button>
        </div>
    </div>
</div>